<!DOCTYPE html>

<html>
    <head>
        <title>Farmstand - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
        <div>
        Welcome to Farmstand.<p>
        </div>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            {% block footer_block %}
            <ul>

                {% if user.is_authenticated %}
                    Logged in as: {{ user.username }}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register Here</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
            {% endblock %}
        </div>
    </body>
</html>
