<!--
Custom admin view for selecting products by week.
Show multi select containing all active products.
Selections get passed to a list.
A week_product record is created for each element in the list, associated with the week.
User should be logged in as an admin to view this page.
-->
{% extends 'farmstand/base.html' %}
{% block body_block %}
<form id="weekly_products" method="post" action="/farmstand/weekly_products/">
            {% csrf_token %}
            {{ form.season }}
            {{ form.week }}

            <p><strong>Available Products</strong>
            {{ form.product_list }}

            <input type="submit" value="submit" />
</form>
{% endblock %}
